"*":
  Hydrogen:
    kernelMappings: '''
      {
        "kernelspecs": {
          "python2": {
            "resource_dir": "/Users/01010357/.virtualenvs/main/lib/python2.7/site-packages/ipykernel/resources",
            "spec": {
              "language": "python",
              "display_name": "Python 2",
              "env": {},
              "argv": [
                "/Users/01010357/.virtualenvs/main/bin/python2.7",
                "-m",
                "ipykernel",
                "-f",
                "{connection_file}"
              ]
            }
          }
        }
      }
    '''
    kernelspec: "{\"kernelspecs\":{\"python2\":{\"resource_dir\":\"/Users/01010357/.pyenv/versions/2.7.11/lib/python2.7/site-packages/ipykernel/resources\",\"spec\":{\"language\":\"python\",\"display_name\":\"Python 2\",\"env\":{},\"argv\":[\"/Users/01010357/.pyenv/versions/2.7.11/bin/python2.7\",\"-m\",\"ipykernel\",\"-f\",\"{connection_file}\"]}}}}"
  "atom-material-ui":
    colors:
      abaseColor: "#3b78e7"
      accentColor: "#fdba3e"
      genAccent: true
      predefinedColor: "Blue"
    tabs:
      compactTabs: true
      tintedTabBar: true
    treeView:
      blendTabs: true
      compactList: true
    ui:
      panelContrast: false
      panelShadows: false
  "autocomplete-python":
    useKite: false
  core:
    allowPendingPaneItems: false
    audioBeep: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "ex-mode"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "one-dark-syntax"
    ]
  editor:
    showIndentGuide: true
    softWrap: true
    tabType: "soft"
  "ex-mode":
    splitbelow: true
    splitright: true
  "exception-reporting":
    userId: "7e34acf9-8bb6-fbca-933b-aa9ff2d3379a"
  "markdown-preview":
    liveUpdate: false
    useGitHubStyle: true
  minimap:
    plugins:
      "git-diff": true
      "git-diffDecorationsZIndex": 0
  "todo-show":
    sortAscending: false
  "vim-mode": {}
  "vim-mode-plus":
    highlightSearch: true
    ignoreCaseForSearch: true
    incrementalSearch: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".ini.source":
  editor:
    nonWordCharacters: "/\\()\"',.;<>~!@#$%^&*|+=[]{}`?-…"
